img{
	height: 100px;
}
body{
	background: #b8a2b4;
}
span{
	color: #771A99;
	font-family: Arial;
	font-size: 30px;
}
button{
	height: 50px; 
	width: 110px;
	margin: 30px;

	font-size: 20px;
	border-color: pink;
	background: black;
	color: pink;
}
h1{
	font-size: 80px;
	font-family: Comic Sans MS;
}
a{  font-family: Arial;
	font-size: 20px;
	display: block;
}
a:link {
	color: red;
}
a:hover {
	color: #ABDEAE;
	text-decoration: none;
}
a:active {
	color: black;
}